<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<string>Junior</string>
		<string>Ima Dork</string>
	</array>
	<key>Advice</key>
	<dict>
		<key>Advice</key>
		<array>
			<string>Adjusting to a Time Change</string>
			<string>Attachment to a Pacifier</string>
			<string>Attachment to a Toy or Blanket</string>
			<string>Bed-Wetting</string>
			<string>Biting</string>
			<string>Bossiness</string>
			<string>Climbing</string>
			<string>Clumsiness</string>
			<string>Clinginess</string>
			<string>Dawdling</string>
			<string>Defiance</string>
			<string>Early Risings</string>
			<string>Fearlessness</string>
			<string>Fear of Santa, Clowns, &amp; Other Characters</string>
			<string>Fear of Crowds</string>
			<string>Fear of Darkness</string>
			<string>Fear of Doctors</string>
			<string>Fear of Dogs</string>
			<string>Fear of Strangers</string>
			<string>Food Messiness</string>
			<string>Food Strikes</string>
			<string>Food Throwing</string>
			<string>Grabbing</string>
			<string>Hair Pulling</string>
			<string>Hair Twirling</string>
			<string>Head Banging</string>
			<string>Hitting &amp; Kicking</string>
			<string>Impatience</string>
			<string>Interrupting</string>
			<string>Lying</string>
			<string>Nail Biting</string>
			<string>Negativity</string>
			<string>Night Waking</string>
			<string>Nose Picking</string>
			<string>Object Throwing</string>
			<string>Overeating</string>
			<string>The In-Your-Face Tot</string>
			<string>Picky Eating</string>
			<string>When Toddlers Prefer One Parent</string>
			<string>Potty Training Problem</string>
			<string>Regression</string>
			<string>Resisting Affection</string>
			<string>Resisting Bath Time</string>
			<string>Resisting Bedtime &amp; Napping</string>
			<string>Resisting Dressing &amp; Diapering</string>
			<string>Resisting Toileting</string>
			<string>Resisting Toothbrushing</string>
			<string>Screaming &amp; Screeching</string>
			<string>Separation Anxiety</string>
			<string>Sharing &amp; Taking Turns</string>
			<string>Shyness</string>
			<string>Sibling Rivalry</string>
			<string>Stuttering</string>
			<string>Swear Words &amp; Bad Language</string>
			<string>Tantrums</string>
			<string>Thumb Sucking</string>
			<string>Wandering Off</string>
			<string>Undressing</string>
			<string>Whining</string>
			<string>A cold or something Serious</string>
			<string>Help Baby Gas</string>
			<string>Baby Heart Murmur</string>
			<string>In case of Fever</string>
			<string>Baby Acne</string>
			<string>Help Babies Runny Nose</string>
			<string>Baby Birthmarks</string>
			<string>Chicken Pox</string>
			<string>Bright Red Cheeks?</string>
			<string>Ice Ice Baby frostbite</string>
			<string>Baby Hives</string>
			<string>Yellow Skin?</string>
			<string>Fever? Runny Nose? Caugh? Measles?</string>
			<string>Moles</string>
			<string>Pin Worm</string>
			<string>Poisen Ivy/Oak</string>
			<string>Diaper Rash</string>
			<string>Warts</string>
			<string>Red Spots</string>
			<string>Croup</string>
			<string>Impetigo</string>
			<string>Reye&apos;s Syndrome</string>
			<string>Respiratory syncytial virus</string>
			<string>Crying, snoring and sleep</string>
		</array>
		<key>AdviceURL</key>
		<array>
			<string>http://www.whattoexpect.com/toddler/behavior/adjusting-to-a-time-change.aspx#</string>
			<string>http://www.whattoexpect.com/toddler/behavior/attachment-to-pacifier.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/attachment-to-blanket.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/bed-wetting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/biting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/bossiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/climbing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/clumsiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/clinginess.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/dawdling.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/defiance.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/early-risings.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fearlessness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-characters.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-crowds.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-darkness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-doctors.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-dogs.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-strangers.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/food-messiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/food-strikes.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/food-throwing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/grabbing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/hair-pulling.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/hair-twirling.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/head-banging.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/hitting-and-kicking.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/impatience.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/interrupting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/lying.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/nail-biting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/negativity.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/night-waking.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/nose-picking.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/object-throwing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/overeating.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/in-your-face-tot.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/picky-eating.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/when-toddlers-prefer-one-parent.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/potty-training-problem-refusing-to-poop.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/acting-like-baby.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-affection.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-bath-time.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-bedtime.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-dressing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-toileting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/resisting-toothbrushing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/screaming-and-screeching.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/separation-anxiety.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/sharing-and-taking-turns.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/shyness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/sibling-rivalry.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/stuttering.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/swear-words.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/tantrums.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/thumb-sucking.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/wandering-off.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/undressing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/whining.aspx</string>
			<string>http://www.babycenter.com/404_how-can-i-tell-if-my-baby-has-a-cold-or-something-more-serio_11688.bc</string>
			<string>http://www.webmd.com/parenting/baby/crying-colic-9/infant-gas</string>
			<string>http://www.dailymail.co.uk/femail/article-98275/My-baby-heart-murmur--affect-her.html</string>
			<string>http://www.webmd.com/parenting/baby/crying-colic-9/temperature-fever</string>
			<string>http://www.babycenter.com/0_baby-acne_72.bc</string>
			<string>http://pregnant.thebump.com/new-mom-new-dad/baby-symptoms-conditions/articles/runny-stuffy-nose-baby.aspx</string>
			<string>http://www.babycenter.com/0_birthmarks_75.bc</string>
			<string>http://www.babycenter.com/0_chicken-pox_11991.bc</string>
			<string>http://www.babycenter.com/0_fifth-disease_1439513.bc</string>
			<string>http://www.babycenter.com/0_frostbite_11250.bc</string>
			<string>http://www.babycenter.com/0_hives_10886.bc</string>
			<string>http://www.babycenter.com/0_jaundice_89.bc</string>
			<string>http://www.babycenter.com/0_measles_1417820.bc</string>
			<string>http://www.babycenter.com/0_moles_1435115.bc</string>
			<string>http://www.babycenter.com/0_pinworms_10897.bc</string>
			<string>http://www.babycenter.com/0_poison-ivy-oak-and-sumac_11267.bc</string>
			<string>http://www.babycenter.com/0_yeast-diaper-rash_10913.bc</string>
			<string>http://www.babycenter.com/0_warts_1443878.bc</string>
			<string>http://www.babycenter.com/0_swimmers-itch_1441106.bc</string>
			<string>http://kidshealth.org/parent/infections/lung/croup.html</string>
			<string>http://kidshealth.org/parent/infections/bacterial_viral/impetigo.html</string>
			<string>http://kidshealth.org/parent/infections/bacterial_viral/reye.html</string>
			<string>http://kidshealth.org/parent/infections/bacterial_viral/rsv.html</string>
			<string>http://www.webmd.com/parenting/guide/tackling-toddler-sleep-problems</string>
		</array>
	</dict>
	<key>Details</key>
	<dict>
		<key>Birthday</key>
		<array>
			<string>1-1-2000</string>
			<string>2-31-2001</string>
		</array>
		<key>Gender</key>
		<array>
			<string>M</string>
			<string>Female</string>
		</array>
		<key>Nickname</key>
		<array>
			<string>Nick Is My Name</string>
			<string>IamNotAdork</string>
		</array>
		<key>Length</key>
		<array>
			<string>21&quot;</string>
			<string>36&quot;</string>
		</array>
		<key>Weight</key>
		<array>
			<string>9lb 6oz</string>
			<string>2lb 98oz</string>
		</array>
		<key>Shot_hepb</key>
		<array>
			<string>1-1-2000</string>
			<string></string>
		</array>
		<key>Shot_rv</key>
		<array>
			<string>1-2-2000</string>
			<string></string>
		</array>
		<key>Shot_dtap</key>
		<array>
			<string>1-3-2000</string>
			<string>3-14-2014</string>
		</array>
		<key>Shot_hib</key>
		<array>
			<string>1-4-2000</string>
			<string></string>
		</array>
		<key>Shot_pcv</key>
		<array>
			<string>1-5-2000</string>
			<string></string>
		</array>
		<key>Shot_ipv</key>
		<array>
			<string>1-6-2000</string>
			<string></string>
		</array>
		<key>Shot_influenza</key>
		<array>
			<string>1-7-2000</string>
			<string>4-4-2014</string>
		</array>
		<key>Shot_mmr</key>
		<array>
			<string>1-8-2000</string>
			<string></string>
		</array>
		<key>Shot_varicella</key>
		<array>
			<string>1-9-2000</string>
			<string></string>
		</array>
		<key>Shot_hepa</key>
		<array>
			<string>1-10-2000</string>
			<string></string>
		</array>
		<key>Teething</key>
		<array>
			<string>1-11-2000</string>
			<string>3-20-2014</string>
		</array>
		<key>Crawling</key>
		<array>
			<string>1-12-2000</string>
			<string>4-17-2014</string>
		</array>
		<key>Steps</key>
		<array>
			<string>1-13-2000</string>
			<string></string>
		</array>
		<key>Dadda</key>
		<array>
			<string>1-14-2000</string>
			<string></string>
		</array>
		<key>Momma</key>
		<array>
			<string>1-15-2000</string>
			<string>3-2-2014</string>
		</array>
		<key>Timeout</key>
		<array>
			<string>1-16-2000</string>
			<string></string>
		</array>
		<key>Babysitter</key>
		<array>
			<string>1-17-2000</string>
			<string></string>
		</array>
		<key>Potty</key>
		<array>
			<string>1-18-2000</string>
			<string></string>
		</array>
		<key>Tooth</key>
		<array>
			<string>1-19-2000</string>
			<string></string>
		</array>
		<key>Tricycle</key>
		<array>
			<string>1-20-2000</string>
			<string></string>
		</array>
		<key>Bicycle</key>
		<array>
			<string>1-21-2000</string>
			<string></string>
		</array>
		<key>TrainingWheels</key>
		<array>
			<string>1-22-2000</string>
			<string></string>
		</array>
		<key>School</key>
		<array>
			<string>1-23-2000</string>
			<string></string>
		</array>
		<key>Sleepover</key>
		<array>
			<string>1-24-2000</string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
