<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<string>Junior</string>
	</array>
	<key>Advice</key>
	<dict>
		<key>Advice</key>
		<array>
			<string>Adjusting to a Time Change</string>
			<string>Attachment to a Pacifier</string>
			<string>Attachment to a Toy or Blanket</string>
			<string>Bed-Wetting</string>
			<string>Biting</string>
			<string>Bossiness</string>
			<string>Climbing</string>
			<string>Clumsiness</string>
			<string>Clinginess</string>
			<string>Dawdling</string>
			<string>Defiance</string>
			<string>Early Risings</string>
			<string>Fearlessness</string>
			<string>Fear of Santa, Clowns, &amp; Other Characters</string>
			<string>Fear of Crowds</string>
			<string>Fear of Darkness</string>
			<string>Fear of Doctors</string>
			<string>Fear of Dogs</string>
			<string>Fear of Strangers</string>
			<string>Food Messiness</string>
			<string>Food Strikes</string>
		</array>
		<key>AdviceURL</key>
		<array>
			<string>http://www.whattoexpect.com/toddler/behavior/adjusting-to-a-time-change.aspx#</string>
			<string>http://www.whattoexpect.com/toddler/behavior/attachment-to-pacifier.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/attachment-to-blanket.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/bed-wetting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/biting.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/bossiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/climbing.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/clumsiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/clinginess.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/dawdling.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/defiance.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/early-risings.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fearlessness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-characters.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-crowds.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-darkness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-doctors.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-dogs.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/fear-of-strangers.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/food-messiness.aspx</string>
			<string>http://www.whattoexpect.com/toddler/behavior/food-strikes.aspx</string>
		</array>
	</dict>
	<key>Details</key>
	<dict>
		<key>Birthday</key>
		<array>
			<string>1-1-2000</string>
		</array>
		<key>Gender</key>
		<array>
			<string>M</string>
		</array>
		<key>Nickname</key>
		<array>
			<string>Nick Is My Name</string>
		</array>
		<key>Length</key>
		<array>
			<string>21&quot;</string>
		</array>
		<key>Weight</key>
		<array>
			<string>9lb 6oz</string>
		</array>
		<key>Shot_hepb</key>
		<array>
			<string>1-1-2000</string>
		</array>
		<key>Shot_rv</key>
		<array>
			<string>1-2-2000</string>
		</array>
		<key>Shot_dtap</key>
		<array>
			<string>1-3-2000</string>
		</array>
		<key>Shot_hib</key>
		<array>
			<string>1-4-2000</string>
		</array>
		<key>Shot_pcv</key>
		<array>
			<string>1-5-2000</string>
		</array>
		<key>Shot_ipv</key>
		<array>
			<string>1-6-2000</string>
		</array>
		<key>Shot_influenza</key>
		<array>
			<string>1-7-2000</string>
		</array>
		<key>Shot_mmr</key>
		<array>
			<string>1-8-2000</string>
		</array>
		<key>Shot_varicella</key>
		<array>
			<string>1-9-2000</string>
		</array>
		<key>Shot_hepa</key>
		<array>
			<string>1-10-2000</string>
		</array>
		<key>Teething</key>
		<array>
			<string>1-11-2000</string>
		</array>
		<key>Crawling</key>
		<array>
			<string>1-12-2000</string>
		</array>
		<key>Steps</key>
		<array>
			<string>1-13-2000</string>
		</array>
		<key>Dadda</key>
		<array>
			<string>1-14-2000</string>
		</array>
		<key>Momma</key>
		<array>
			<string>1-15-2000</string>
		</array>
		<key>Timeout</key>
		<array>
			<string>1-16-2000</string>
		</array>
		<key>Babysitter</key>
		<array>
			<string>1-17-2000</string>
		</array>
		<key>Potty</key>
		<array>
			<string>1-18-2000</string>
		</array>
		<key>Tooth</key>
		<array>
			<string>1-19-2000</string>
		</array>
		<key>Tricycle</key>
		<array>
			<string>1-20-2000</string>
		</array>
		<key>Bicycle</key>
		<array>
			<string>1-21-2000</string>
		</array>
		<key>TrainingWheels</key>
		<array>
			<string>1-22-2000</string>
		</array>
		<key>School</key>
		<array>
			<string>1-23-2000</string>
		</array>
		<key>Sleepover</key>
		<array>
			<string>1-24-2000</string>
		</array>
	</dict>
</dict>
</plist>
